/* ====================== Font Start ====================== */
body {
  font-family: "Trebuchet MS", sans-serif;
}

/* ====================== Font End ====================== */

/* ====================== Common CSS Start ====================== */
* {
  margin: 0;
  padding: 0;
}

body {
  background: #f2f4f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0.8;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

@keyframes power {
  0% {
    color: transparent;
  }

  50% {
    color: white;
  }

  100% {
    color: #ef4a23;
  }
}

@keyframes gradient {
  0% {
    background: #00237e, ;
    /* background: linear-gradient(    45deg,    #00237e,    #3749bb,    #0bc1e9,    #3749bb,    #00237e  ); */
  }

  25% {
    background: #3749bb;

  }

  50% {
    background: #0bc1e9;

  }

  75% {
    background: #3749bb;

  }

  */ 100% {
    background: #00237e, ;

  }
}

/* ====================== Common CSS End ====================== */

/* ====================== Header CSS Start ====================== */

#header {
  background: #081621;
}

#header .sidebyside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header_logo {
  width: 144px;
}

.header_logo img {
  width: 117px;
}

.header_search {
  margin-left: -23px;
  width: 580px;
  height: 42px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  position: relative;
}

.header_search input {
  width: 100%;
  height: 100%;
  padding: 0 40px 0 20px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: normal;
}

.header_search i {
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 18px;
  font-weight: normal;
}

.header_content_items {
  display: flex;
  column-gap: 22px;
  margin-top: 5px;
}

.header_content ul {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.header_content ul li i {
  color: #ef4a23;
  font-size: 18px;
  line-height: 36px;
}

.header_content ul li .blink {
  font-size: 22px !important;
  animation: power 2s infinite linear;
  -webkit-animation: power 2s infinite linear;
}

.header_content ul li h5 {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 5px;
}

.header_content ul li p {
  font-size: 11px;
  line-height: 16px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
}

.header_button button {
  padding: 0 20px;
  background: linear-gradient(45deg, #00237e, #3749bb, #0bc1e9, #3749bb, #00237e);
  background-size: 400% 400%;
  animation: gradient 15s linear infinite;
  border: none;
  line-height: 42px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  text-align: center;
  -webkit-animation: gradient 15s linear infinite;
}

/* ====================== Header CSS End ====================== */
/* ====================== Navbar CSS Start ====================== */
nav {
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 9999;
}

nav .navbar-collapse .navbar-nav .nav-link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


nav .navbar-nav {
  margin-left: -7px !important;

}

nav.navbar.navbar-expand-lg {
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 7px;
  padding-left: 7px;
}

.navbar-nav .nav-link {
  line-height: 50px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.navbar-nav .nav-link:hover {
  color: #ef4a23;
}

/* ====================== Navbar CSS End ====================== */
/* ====================== Banner Part Start ====================== */
#banner {
  padding-top: 30px;
  background: #F2F4F8;
}

.banner-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  background: #ffe8a1;
  margin-bottom: 30px;
  padding: 30px 34px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, .03);
  box-sizing: border-box;
}

.product-info h4 {
  font-size: 16px;
  font-weight: 700;
  font-family: "Trebuchet MS", sans-serif;
  color: #000000;
  margin-bottom: 7px;
}

.product-info p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Trebuchet MS", sans-serif;
  color: rgba(0, 0, 0, 0.50);
  margin-bottom: 14px;
}

.choose-field {
  position: relative;
}

.choose-field input {
  height: 42px;
  padding: 8px 43px 7px 15px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, .05);
  font-size: 15px;
  font-weight: 400;
  background: #fff;
  outline: none;
  /* width: 100%; */
  font-family: "Trebuchet MS", sans-serif;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}

.choose-field i {
  position: absolute;
  right: 9px;
  bottom: 27px;
  opacity: .5;
}

.banner-right-btn {
  transition: all linear .3s;
}

.banner-right-btn button {
  width: 100%;
  display: inline-block;
  border: 2px solid #3749BB;
  background: transparent;
  padding: 7px 20px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Trebuchet MS", sans-serif;
  color: #3749BB;
  border-radius: 4px;
  outline: none;
  transition: all linear .3s;
}

.banner-right-btn:hover {
  background: #4A5397;
  border-radius: 4px;
}

.banner-right-btn:hover button {
  color: #FFFFFF;
}

.career-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quick-card {
  margin-top: 50px;
}

.quick-card a {
  padding: 15px 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.quick-card a i {
  height: 50px;
  width: 50px;
  background: #EF4A23;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #FFFFFF;
}

.quick-card-text h5 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Trebuchet MS", sans-serif;
  color-scheme: #000000;
}

.quick-card-text p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Trebuchet MS", sans-serif;
  color-scheme: #444444;
  margin-top: 10px;
}

.news-feed {
  width: 100%;
  padding: 10px 20px 5px;
  background: #fff;
  margin-top: 30px;
  border-radius: 33px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Trebuchet MS", sans-serif;
  color: #444;
}

/* ====================== Banner Part End ======================== */

/* ====================== Feature Part End ======================== */
#feature {
  background: #F2F4F8;
  padding-top: 55px;
  /* padding-bottom: 55px; */
}

.feature-header {
  margin-bottom: 30px;
}

.feature-header h5 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Trebuchet MS", sans-serif;
  color-scheme: #000000;
  margin-bottom: 15px;
}

.feature-header p {
  font-size: 15px;
  font-weight: 400;
  font-family: "Trebuchet MS", sans-serif;
  color-scheme: #01132d;
}

.feature-item {
  /* display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 10px;
  row-gap: 17px; */
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.feature-cart {
  flex: 0 0 12.50%;
  padding: 0 5px;
  margin-bottom: 20px;
  text-align: center;
}

/* .feature-cart-item {
  padding: 15px 0;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
} */

.feature-cart .feature-cart-item {
  display: block;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  padding: 30px 0 15px;
}

.feature-cart-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Trebuchet MS", sans-serif;
  color: #081621;
  margin-top: 20px;
  transition: all linear .3s;
}

.feature-cart-item:hover p {
  color: #EF4A23;
}

.store-info {
  margin-top: 50px;
  padding: 35px 35px 40px 38px;
  background: linear-gradient(125deg, #0bc1e9, #3749bb, #00237e);
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.store-info-left {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.store-info-left i {
  font-size: 40px;
  color: #FFFFFF;
}

.left-text h3 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Trebuchet MS", sans-serif;
  color: #FFFFFF;
}

.left-text p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Trebuchet MS", sans-serif;
  color: #FFFFFF;
  margin-top: 10px;
}

.find-btn {
  padding: 17px 50px;
  background: #ef9919;
  border-radius: 50px;
  display: flex;
  column-gap: 12px;
  align-items: center;
  transition: all linear .3s;
}

.store-info-right {
  font-size: 15px;
  font-weight: 600;
  font-family: "Trebuchet MS", sans-serif;
  color: #FFFFFF;
  display: inline-block;
}

.find-btn i {
  font-size: 16px;
}

.find-btn:hover {
  background: #C57E15;
}

/* ====================== Feature Part End ======================== */


/*======================== Comper_cart Start ==================*/
#compare_card {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;

}

.ship_cart_btn {
  width: 59px;
  height: 59px;
  border: 1px solid rgba(255, 255, 255, .2);
  background: #081621;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1), -5px 5px 10px rgba(0, 0, 0, .1);
  border-radius: 4px;
  position: relative;
}

.ship_cart_btn:hover {
  background: #3749bb;
}

.compare_btn {
  margin-bottom: 12px;
}

/* .cart_btn{
    color: #fff;
    margin-bottom: 8px;
} */


.ship_cart_btn i {
  color: #fff;
  font-size: 20px;
  margin: 10px 0 5px;
}

.ship_cart_btn .label {
  opacity: .8;
}

.ship_cart_btn .counter {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  top: -10px;
  background: #ef4a23;
  border-radius: 16px;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/*======================== Comper_cart End ==================*/
/* ==================================== Feature Products start ===================================  */
#featured {
  margin-top: 50px;
  /* padding-top: 68px; */
  /* padding-bottom: 100px; */
}

.featured_heading h2 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 5px;
  font-weight: 700;
}

.featured_heading p {
  margin-bottom: 22px;
  font-size: 15px;
  color: #01132d;
  line-height: 26px;
}


.featured_box_main_parents {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  padding: 0;
  justify-content: flex-start;
}

.featured_box_main {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 5px 10px;
  margin-bottom: 0;
  display: flex;
  position: relative;
}

.featured_box_content {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.featured_box_main:hover .featured_box_content {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.featured_box_save {
  display: flex;
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 10;
  flex-direction: column;
  align-items: flex-start;
}

.featured_box_save_money {
  background: #6e2594;
  width: auto;
  color: #fff;
  font-size: 12px;
  padding: 3px 10px;
  line-height: 14px;
  margin-bottom: 2px;
  border-radius: 0 20px 20px 0;
}

.featured_box_img {
  text-align: center;
  border-bottom: 3px solid rgba(55, 73, 187, .03);
  padding: 20px;
  margin: 0;
}

.featured_box_img>a {
  height: 228px;
}

.featured_box_title_price {
  height: 128.6px;
  padding: 15px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
}

.featured_box_title_price .featured_box_title {
  line-height: 20px;
  font-weight: 400;
}

.featured_box_title a {
  display: inline-block;
  color: #01132d;
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  height: 40px;
}

.featured_box_title a:hover {
  color: #ef4a23;
  text-decoration: underline;
}

.featured_box_price {
  line-height: 22px;
  font-size: 17px;
  font-weight: 600;
  color: #ef4a23;
}

.featured_box_price_old {
  font-size: 12px;
  font-weight: 600;
  text-decoration: line-through;
  color: #666;
  padding-left: 5px;
}

/* ==================================== Feature Products End ===================================  */

/* ====================== product details Start ====================== */

#product-desc {
  padding: 50px 0 88px;
}

.product-details .description-1 h1 {
  font-size: 23px;
  line-height: 28px;
  font-weight: 400;
  margin: 0 0 20px;
  font-family: "Trebuchet MS", sans-serif;
}

.product-details .description-1 p {
  margin-bottom: 32px;
  font-size: 15px;
  color: #01132d;
  line-height: 26px;
  font-family: "Trebuchet MS", sans-serif;
}

.product-details .description-1 h2 {
  font-size: 18px;
  margin: 25px 0 12px;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 700;
}
.product-details .description-1 .marginfixone {
  margin: 15px 0 10px;
}
.product-details .description-1 .marginfix {
  margin: 0px 0 5px !important;
}
.product-details .description-1 .marginfixtwo {
  margin: 0px !important;
}

.product-details .description-1 .proper {
  margin-top: 20px;
  max-width: 1290px;
}

.description-1 a {
  color: #ef4a23;
}

.description-1 a:hover {
  text-decoration: underline;
}

/* ====================== product details End ====================== */

/* ====================== Footer CSS Start ====================== */
#footer {
  background: #081621;
  padding-top: 55px;
  padding-bottom: 28px;
}


footer .pdb {
  padding-bottom: 30px;
}

.footer_contact_us h4 {
  color: #fff;
  margin-bottom: 34px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.footer_contact_us ul {
  max-width: 270px;
  display: block;
  padding: 10px 0;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_btn:hover {
  box-shadow: 0 -70px 0 rgba(0, 0, 0, 0.2) inset;
  border-color: #ef4a23;
  text-decoration: none;
}

.footer_contact_us ul li i {
  color: #fff;
  float: left;
  font-size: 20px;
  line-height: 47px;
  padding: 0 10px 0 20px;
  margin-right: 20px;
  border-right: 1px solid #333;
}

.footer_contact_us ul li p {
  margin: 0 0 4px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.footer_contact_us ul li span {
  color: #ef4a23;
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
}

.footer_about_us {
  margin-left: -8px;
}

.footer_about_us .marginleft{
  margin-left: 42px;
}
.footer_about_us .marginleft45{
  margin-left: 45px;
}


.footer_about_us h4 {
  color: #fff;
  margin-bottom: 34px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;

}

.footer_about_us ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 32%;
  line-height: 20px;
  margin: 0;
  padding: 0 0 20px;
}

.footer_about_us ul li {}

.footer_about_us ul li a {
  font-size: 14px;
  color: #666;
  white-space: nowrap;
  margin-bottom: 20px;
}

.footer_about_us ul li a:hover {
  color: #ef4a23;
  text-decoration: underline;
}

.footer_org_info {
  margin-left: 27px;
}

.footer_org_info h4 {
  color: #fff;
  margin-bottom: 42px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.footer_org_info h5 {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 12px;
}

.footer_org_info p {
  color: #666;
  font-size: 14px;
  padding-right: 31px;
  margin-bottom: 17px;
  line-height: 24px;
}

.footer_org_info h6 {
  color: #666;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 12px;
}

.footer_org_info span {
  color: #ef4a23;
  font-size: 14px;
  font-weight: normal;

}


.social_footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.apps_link {
  display: flex;
  align-items: center;
}

.app_link_text {
  color: #666666;
  font-size: 12px;
}

.app_link_items {}

.footer_anchor {
  display: flex;
  align-items: center;
  border: 1px solid #666666;
  border-radius: 7px;
  padding: 2px 13px 2px 8px;
  margin-left: 20px;
  /* width: 116px;
  height: 40px; */
  white-space: nowrap;
}

.app_icons {
  margin-right: 10px;
  color: #fff;
  font-size: 22px;
}

.app_link_text .download {
  display: block;
  font-size: 10px;
  margin-bottom: -2px;
}

.app_link_text .app_store {
  display: block;
  color: #fff;
  font-size: 14px;
}

.social_media_link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}

.social_media_link ul li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.1);
}

.sub_footer {
  padding-top: 19px;
  justify-content: space-between;
}

.sub_footer_copy_right p {
  font-size: 12px;
  color: #666;
}

.sub_footer_powerBy {
  font-size: 12px;
  color: #666;
  text-align: right;
}

/* ====================== Footer CSS End ====================== */