/* ====================== Font Start ====================== */
html {
    font-family: "Trebuchet MS", sans-serif;
}

/* ====================== Font End ====================== */


/* ====================== Common CSS Start ====================== */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Commissioner", sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 0.8;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

/* ====================== Common CSS End ====================== */


/* ====================== product details Start ====================== */

#prodact-details{
    margin: 0;
    padding: 0;
}
#product-details .description-1 h1{
    margin: 20px 30px 34px 30px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
}
#product-details .description-1 p{
    margin: 0 30px 10px 30px;
    /* margin-right: 30px; 
    margin-bottom: 10px; */
    font-size: 15px;
    color: #01132d;
    line-height: 26px;
}
#product-details .description-1 h2{
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 18px;
}      
.description-1 a{
   color: #ef4a23;

}
.description-1 a:hover{
    text-decoration: underline;
 }

/* ====================== product details End ====================== */
